.poe-pr30 {
  padding-right: 30px;
}

.poe-pl30 {
  padding-left: 30px;
}

.poe-pt30 {
  padding-top: 30px;
}

.poe-mb30 {
  padding-bottom: 30px;
}

.poe-pr20 {
  padding-right: 20px;
}

.poe-pl20 {
  padding-left: 20px;
}

.poe-pt20 {
  padding-top: 20px;
}

.poe-mb20 {
  padding-bottom: 20px;
}

.poe-pr15 {
  padding-right: 15px;
}

.poe-pl15 {
  padding-left: 15px;
}

.poe-pt15 {
  padding-top: 15px;
}

.poe-mb15 {
  padding-bottom: 15px;
}
