/* 顏色 */
.col-green {
  color: #627e2a;
}
.col-gray {
  color: #a2a3a5;
}
.col-red {
  color: #b9433b;
}
.col-black {
  color: #434341;
}
.col-white {
  color: #FFFFFF;
}

.wh421153{
    width: 421px;
    height: 153px;
}
.w142{
    width: 80px;
}