@media (min-width: 1700px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1640px;
  }
}
.cha-search-put-top {
  margin-bottom: 10px;
  /* background-color: rgb(59, 30, 124); */
  padding-left: 20px;
  display: none !important;
}
.cha-main {
  height: 500px;
  /* background-color: rgb(219, 245, 125); */
  overflow: hidden;
}
.cha-main-pic {
  padding: 0;
  top: -50%;
  text-align: center;
  transition: .5s;
}
.cha-main-pic2 {
  width: 100%;
  height: 100%;
  /* background-color: rgb(201, 93, 67); */
  object-fit: contain;
  /* bottom: 300px; */
  /* overflow: hidden; */
}
.cha-pic-txt-recipt {
  bottom: 45%;
  position: relative;
  text-decoration: none;
  display: none;
}

.cha-main-txt {
  padding: 0;
  transition: .5s;
}
.cha-main-txt1 {
  height: 100px;
  /* background-color: rgb(120, 161, 44); */
  line-height: 100px;
  color: #a2a3a5;
}

.cha-main-txt2 {
  height: 400px;
  /* background-color: rgb(48, 118, 184); */
  padding: 90px 0 0 0px;
}

.cha-green {
  color: #627e2a;
}
.cha-white {
  color: #ffffff;
}
.cha-gray {
  color: #a2a3a5;
}
.cha-red {
  color: #b9433b;
}
.cha-yellow {
  color: #f3e575;
}
.cha-black {
  color: #434341;
}

.cha-star-big {
  letter-spacing: 12px;
  font-size: 24px;
}
.cha-star-small {
  letter-spacing: 12px;
  font-size: 12px;
}
.cha-dl {
  text-decoration: none !important;
}
.cha-dl:hover {
  text-decoration: none !important;
}
.cha-px0 {
  padding: 0 !important;
}
.cha-pt1{
  padding-top:50px;
}
.cha-ml1 {
  margin-left: 10px;
}
.cha-mr1 {
  margin-right: 10px;
}
.cha-mr2 {
  margin-right: 20px;
}
.cha-mr3 {
  margin-right: 30px;
}
.cha-mr4 {
  margin-right: 40px;
}
.cha-mr5 {
  margin-right: 50px;
}
.cha-mb3 {
  margin-bottom: 30px;
}
.cha-mb2 {
  margin-bottom: 20px;
}
.cha-mb1 {
  margin-bottom: 10px;
}
.cha-mb0 {
  margin-bottom: 0px;
}
.cha-loading {
  opacity: 0;
  
}
.cha-recipe-step{
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.5); /* Black w/ opacity */
  transition: .5s;
}
.cha-step-msg{
  height: 500px;
}
.cha-step-top{
  height: 10%;
}
.cha-step-mid{
  height: 80%;
}
.cha-step-bottom{
  height: 10%;
}
.cha-step-left-bottom{

}
.cha-step-right-bottom{
  left: 0;
}
.cha-cards {
  /* position: fixed; */
  height: 270px;
  left: 10%;
  /* background-color: rgb(194, 202, 77); */
}
.cha-cards-over {
  overflow: hidden;
}

.cha-footer {
  height: 100px;
  /* background-color: rgb(95, 59, 180); */
}
.cha-card {
  height: 270px;
  width: 230px;
  padding-top: 60px;
  /* margin: 0 30px 0 30px; */
  /* background-color: red; */
  transition: 0.2s;
}
.cha-card:hover .cha-card-yellow {
  background-color: rgba(255, 232, 61, 0.5);
}
.cha-card:hover .cha-card-img2 {
  height: 155px;
}

.cha-card-yellow {
  height: 210px;
  width: 230px;
  background-color: rgba(243, 229, 117, 0.5);
  border-radius: 25px;
  transition: 0.2s;
}

.cha-card-img1 {
  /* background-color: royalblue; */
  /* position: relative; */
  text-align: center;
  top: -65px;
  position: relative;
  transition: 0.2s;
}
.cha-card-img2 {
  height: 145px;
  width: 100%;
  object-fit: contain;
  transition: 0.2s;
  margin-bottom: 5px;
}

.cha-rights {
  line-height: 100px;
}
.cha-rest {
  height: 20px !important;
  width: 40px;
}
.cha-meun {
  width: 200px;
  height: 400px;
  border-radius: 0 25px 25px 0;
  box-shadow: 6px 0 5px rgba(0, 0, 0, 0.16);
  border: #a2a3a5 1px solid;
  padding: 20px 20px 0 20px;
  position: fixed;
  top: 335px;
  left: 0px;
  background-color: #ffffff;
  /* display:none; */
  transition: 0.5s;
}
.cha-meun-hidden {
  position: fixed;
  left: -210px;
  transition: 0.5s;
}
.cha-meun-open {
  position: fixed;
  top: 355px;
  left: 0px;
  transition: 0.5s;
}
.cha-meun-icon {
  text-align: right;
}
.cha-meun-li {
  list-style-type: none;
}
.cha-meun-txt1 {
  line-height: 40px;
}
.cha-meun-txt1:hover {
  color: #627e2a;
  text-decoration: none;
}
.cha-ingredient-img1 {
  width: 70px;
  object-fit: contain;
}
.cha-ingredient-img2 {
  width: 100%;
  object-fit: contain;
}
.cha-ingredient-txt {
  text-align: center;
}
.cha-search-put {
  width: 150px;
  height: 40px;
  padding-left: 38px !important;
  color: #a2a3a5;
}
.cha-search-put:hover {
  width: 150px;
  height: 40px;
  padding-left: 38px !important;
  color: #a2a3a5;
}
.cha-search-put:focus {
  width: 150px;
  height: 40px;
  padding-left: 38px !important;
  color: #a2a3a5;
}
.cha-search-icon {
  position: relative;
  left: 15px;
  bottom: 33px;
}
.cha-search-icon2 {
  position: relative;
  right: 135px;
  top: 12px;
}
.cha-cart {
  width: 350px;
  height: 500px;
  border-radius: 25px 0 0 25px;
  box-shadow: -6px 0 5px rgba(0, 0, 0, 0.16);
  border: #a2a3a5 1px solid;
  padding: 40px 0 0 20px;
  position: fixed;
  top: 235px;
  right: -0px;
  background-color: #ffffff;
  /* display:none; */
  transition: 0.5s;
}
.cha-cart-open {
  position: fixed;
  top: 275px;
  right: -0px;
  transition: 0.5s;
}
.cha-cart-hidden {
  right: -360px;
  transition: 0.5s;
}
.cha-cart-hidden-smell {
  position: fixed;
  top: 275px;
  right: -350px;
  transition: 0.5s;
}
.cha-cart-all {
  width: 300px;
  height: 370px;
  /* background-color: burlywood; */
  padding: 0;
}
.cha-cart-head {
  /* background-color: aquamarine; */
  height: 70px;
}
.cha-cart-user {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  /* background-color: #a2a3a5; */
  /* margin-left: 50px; */
}
.cha-cart-user-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cha-cart-user-txt {
  margin-top: 7px;
}
.cha-cart-user-meal {
  height: 200px;
  /* background-color: rgb(54, 189, 36); */
  overflow-y: auto;
}
.cha-cart-main-title {
  margin-bottom: 15px;
  /* background-color: #B9433B; */
}
/* .cha-cart-main-title1{
margin-left: 46px;
} */

.cha-cart-footer {
  /* background-color: rgb(180, 34, 161); */
  width: 300px;
}
.cha-cart-meal-only {
  text-align: center;
  line-height: 0 !important;
  margin-top: 20px;
}
.cha-icon {
  font-size: 25px;
}
.cha-rigth-icon {
  position: absolute;
  top: 130px;
  font-size: 35px;
  right: 0;
}
.cha-left-icon {
  position: absolute;
  top: 130px;
  font-size: 35px;
  left: 0;
}
.cha-rec-search-bar {
  height: 100px;
  /* background-color: lightcoral; */
}
.cha-rec-main-txt1,
.cha-rec-search-put-top {
  /* height: 100px; */
  /* background-color: rgb(120, 161, 44); */
  color: #a2a3a5;
  margin: 30px;
  bottom: 8px;
}
.cha-rec-main-txt{
  transition: .5s;
}

.cha-rec-txt-up {
  height: 220px;
  /* background-color: lightgreen; */
  margin-left: 90px;
  margin-top: 50px;
  padding-left: 0;
  
}
.cha-rec-txt-down {
  margin-left: 90px;
  margin-top: 10px;
  padding: 0;
  
}

.cha-rec-main-pic2 {
  width: 100%;
  height: 100%;
  /* background-color: lightpink; */
}
.cha-rec-main {
  /* background-color: rgb(231, 150, 118); */
  height: 750px;
}
.cha-rec-main-pic1 {
  position: relative;
  top: 50px;
}
.cha-rec-main-pic {
  overflow: hidden;
  transition:.5s
}
.cha-rec-star-big {
  letter-spacing: 12px;
  font-size: 24px;
}
.cha-rec-sel1 {
  background-color: #fff;
  height: 30px;
  line-height: 30px;
  border-radius: 15px 15px 0 0;
  border: none;
  text-align: center;
  color: #c7c7c7;
  display: inline-block;
  cursor: pointer;
}
.cha-rec-sel1-active {
  height: 30px;
  line-height: 30px;
  border-radius: 15px 15px 0 0;
  border: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  background-color: #a2a3a5;
  transition: 0.5s;
}
.cha-rec-sel1:hover {
  color: #a2a3a5;
  text-decoration: none;
}
.cha-rec-sel1-active:hover {
  text-decoration: none;
  color: #fff;
}

.cha-rec-sel-box {
  /* border-top: #a2a3a5 solid 4px; */
  height: 210px;
  overflow-y: auto;
  padding: 15px 0 0 0 ;
  margin: 0;
  margin-top: 30px; /*Lydia到此一遊*/
}
.cha-sel-box-1 {
  padding: 0;
  /* background-color: rgb(170, 199, 102); */
}
.cha-sel-box-txt1 {
  margin-right: 20px;
}
.cha-sel-box-txt2 {
  margin-left: 20px;
}
.cha-rec-btns {
  margin-top: 100px;
}
.cha-rec-select-bar {
  /* background-color: aqua; */
  height: 60px;
  padding: 0;
}
.cha-rec-select-bar-txt:hover {
  color: #707070;
}
.cha-rec-select-bar-line {
  height: 5px;
  background-color: #a2a3a5;
  border-radius: 25px;
}
.cha-rec-select-bar-line2 {
  background-color: #707070;
  height: 10px;
  bottom: 13px;
  border-radius: 25px;
  right: 65px;
  transition: .5s;
}
.cha-rec-select-bar-line2-left{
  right: 65px;
}
.cha-rec-select-bar-line2-right{
  right: -65px;
}
.cha-rec-select-bar-line2-love {
  background-color: #707070;
  height: 10px;
  bottom: 13px;
  border-radius: 25px;
  right: 345px;
  transition: .5s;
}
.cha-rec-select-bar-line2-1{
  right: 345px;
}
.cha-rec-select-bar-line2-2{
  right: 208px;
}
.cha-rec-select-bar-line2-3{
  right: 70px;
}
.cha-rec-select-bar-line2-4{
  right: -68px;
}
.cha-rec-select-bar-line2-5{
  right: -205px;
}
.cha-rec-select-bar-line2-6{
  right: -343px;
}

.cha-rec-cards {
  height: 270px;
}
.cha-rec-cards-over {
  overflow: hidden;
  position: relative;
}
.cha-rec-card {
  height: 270px;
  width: 230px;
  padding-top: 100px;
  margin: 0 30px 0 30px;
  /* background-color: #b9433b; */
  /* background-color: red; */
}
.cha-rec-card:hover .cha-card-img1 {
  height: 170px;
  top: -100px;
}
.cha-rec-card:hover .cha-card-img2 {
  height: 170px;
}

.cha-rec-card:hover {
  text-decoration: none !important;
}
@media (max-width: 1199px) {
  .cha-main-txt2 {
    padding: 60px 0 0 90px;
  }
}
@media (max-width: 991px) {
  .cha-cart {
    display: none;
  }
  .cha-main-txt2 {
    padding: 0;
  }
  .cha-main-txt3 {
    text-align: center;
  }
  .cha-main-txt1 {
    display: none;
  }
  .cha-btn-cart {
    margin: auto;
  }
  .cha-main-icon-sub3 {
    margin: auto;
  }

  .cha-main-pic {
    top: -65%;
  }
  .cha-main-txt {
    top: -65%;
  }
  .cha-main-txt-sub {
    display: none;
  }
  .cha-main-icon-sub1 {
    display: none;
  }
  .cha-main-icon-sub2 {
    display: none;
  }
  .cha-meun-input {
    display: none;
  }
  .cha-meun-li {
    margin-top: 30px;
  }
  .cha-meun {
    top: 160px;
  }
  .cha-meun-open {
    top: 180px;
  }
  .cha-btn-recipe {
    display: none;
  }
  .cha-main-txt-main {
    margin-bottom: 10px !important;
    font-family: GenSenRounded TW;
    font-size: 24px !important;
    font-weight: bold !important;
    line-height: 24px !important;
    letter-spacing: -0.01px;
    text-decoration: none;
  }

  .cha-pic-txt-recipt {
    display: block;
  }
  .cha-search-put-top {
    display: flex !important;
  }
  .cha-rec-main-txt1 {
    display: none;
  }
  .cha-rec-search-put-top {
    margin: 0 auto 0 auto;
    padding-left: 15px;
  }
  .cha-rec-search-bar {
    /* background-color:lightseagreen; */
    height: 45px;
  }
  .cha-rec-main-pic {
    padding: 0%;
  }
  .cha-rec-main {
    height: 58%;
  }
  .cha-rec-select-bar-line2 {
    right: 95px;
  }

  .cha-rec-txt-up {
    margin: 0;
    padding: 0;
    height: 50%;
  }
  .cha-rec-txt12 {
    font-family: GenSenRounded TW;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none !important;
  }
  .cha-rec-icon12 {
    font-size: 12px;
  }
  .cha-main-txt-main,
  .cha-rec-txt12,
  .cha-rec-star,
  .cha-rec-main-icon-sub {
    margin: 5px 0 5px 0;
  }
  .cha-rec-main-txt {
    margin: auto;
    top: -20%;
    padding: 0;
    transition: .5s;
  }
  .cha-rec-star-big {
    letter-spacing: 0px;
  }
  .cha-rec-add-txt {
    display: none;
  }
  .cha-rec-main-pic1 {
    position: relative;
    top: -48%;
  }
  .cha-rec-main-txt-all {
    margin-left: 30px;
  }
  .cha-rec-txt-up {
    margin: auto;
    width: 220px;
  }

  .cha-rec-txt-down {
    padding: 0;
    margin: 0;
  }

  .cha-rec-sel1 {
    font-family: GenSenRounded TW;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none !important;
    padding: 5px;
  }
  .cha-rec-btns {
    margin: 20px auto 20px 55px;
  }
  .cha-rec-btn-bye {
    display: none !important;
  }
  .cha-rec-main-txt-main {
    margin-bottom: 0px;
    font-family: GenSenRounded TW;
    font-size: 21px !important;
    font-weight: 400 !important;
    letter-spacing: 0.29px;
    text-decoration: none;
  }
  .cha-rec-txt12 {
    font-family: GenSenRounded TW;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 0.2px;
    text-decoration: none !important;
  }
  .cha-card-hidden {
    display: none;
  }
  .cha-card-yellow {
    background-color: #ffffff;
  }
  .cha-card-img1 {
    /* background-color: royalblue; */
    /* position: relative; */
    top: 0;
  }
}

@media (max-width: 765px) {
  .cha-main-pic {
    top: -25%;
    height: 70%;
  }
  .cha-main {
    height: 400px;
  }

  .cha-main-txt {
    top: -30%;
    height: 30px;
    margin: 0;
    padding: 0;
  }
  .cha-main-txt2 {
    top: -30%;
    height: 30px;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 575.98px) {
}
