/* 邊界跟padding歸零 */
.fff-no-mr-and-pad {
  margin: 0px;
  padding: 0px;
}

.fff-checkbox-gap {
  margin-left: 20px;
}

/* 手機版長條按鈕 */

.fff-btn-mobo-style {
  border: 1px #627e2a solid;
  color: #627e2a;
  border-radius: 10px;
  height: 40px;
  width: 242px;
  text-align: center;
  font-size: 16px;
  font-family: GenSenRounded TW;
  font-weight: 400;
  letter-spacing: 0.29px;
  text-decoration: none;
  line-height: 40px;
  margin-bottom: 30px;
}
.fff-btn-mobo-style:focus {
  outline: none;
  border: 1px #627e2a solid;
  border-radius: 10px;
  box-shadow: 0 0 5px #627e2a;
  height: 40px;
  width: 242px;
  text-align: center;
  font-size: 16px;
  font-family: GenSenRounded TW;
  font-weight: 400;
  letter-spacing: 0.29px;
  text-decoration: none;
  line-height: 40px;
  margin-bottom: 30px;
}
.fff-btn-mobo-style:hover {
  outline: none;
  border: 1px #627e2a solid;
  border-radius: 10px;
  height: 40px;
  width: 242px;
  text-align: center;
  font-size: 16px;
  font-family: GenSenRounded TW;
  font-weight: 400;
  letter-spacing: 0.29px;
  text-decoration: none;
  line-height: 40px;
  margin-bottom: 30px;
}

/* 手機版排版*/
/* 網頁版專用部分消失 */
.fff-ms-web {
  display: none !important;
}
/* 手機版專用部分出現 */
.fff-ms-mobo {
  display: flex !important;
}

.fff-mobo-txt-info {
  font-size: 14px;
  font-family: GenSenRounded TW;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.29px;
  text-decoration: none;
  align-self: center;
}
.fff-mobo-txt-points {
  font-size: 24px;
  font-family: GenSenRounded TW;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.29px;
  text-decoration: none;
  color: #b9433b;
}

.fff-mobo-info-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: darkgrey;
  margin-right: 10px;
}
.fff-mobo-btn-white {
  background-color: white;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  color: #627e2a;
  border: 1px #627e2a solid;
  display: inline-block;
  margin: 5px;
}
.fff-mobo-my-info-box {
  height: 120px;
  border-radius: 25px;
  border: 1px black solid;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 125px !important;
}
.fff-mobo-reward-pic {
  max-width: 160px;
}

.fff-svg-painting {
  width: 90px;
  height: 90px;

  background-repeat: no-repeat;
  background-size: 80px 80px;
  background-position: 5px 5px;
  margin: 5px 0;
}

.fff-milestone-background-svg {
  cx: 45;
  cy: 45;
  r: 40;
  stroke: #d0d1d2;
  stroke-width: 5;
  fill: none;
}

.fff-milestone-progress-svg {
  cx: 45;
  cy: 45;
  r: 40;
  stroke-width: 5;
  fill: none;
  transform-origin: center;
}

.fff-info-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: darkgrey;
  margin-right: 10px;
}

.fff-reward-pic {
  width: 100px;
}
/* 僅限一週內查詢，手機12px非手機版都16px */
.fff-exchange-record-warning {
  font-size: 12px;
  font-family: GenSenRounded TW;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.29px;
  text-decoration: none;
  color: #b9433b;
}

.fff-mshowto-content {
  margin: auto auto;
  background-color: white;
  width: 302px;
  border-radius: 25px;
  text-align: left;
  line-height: 30px;
  border: 5px #627e2a solid;
  padding: 30px;
  margin-top: 30px;
}

.fff-mshowto-content span {
  margin: 30px 0 30px 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .fff-ms-web {
    display: flex !important;
  }
  .fff-ms-mobo {
    display: none !important;
  }

  .fff-txt-info {
    font-size: 14px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
  }
  .fff-txt-points {
    font-size: 16px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
    color: #b9433b;
  }
  .fff-txt-btn {
    font-family: GenSenRounded TW;
    font-size: 14px;
    text-decoration: none !important;
    letter-spacing: 0.24px;
  }

  .fff-btn-white {
    background-color: white;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    color: #627e2a;
    border: 1px #627e2a solid;
    display: inline-block;
    margin: 5px;
  }
  .fff-my-info-box {
    height: 120px;
    border-radius: 25px;
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }

  .fff-stone-item-box {
    margin-bottom:20px;
    max-width: 150px;
  }

  .fff-svg-painting {
    width: 150px;
    height: 150px;

    background-repeat: no-repeat;
    background-size: 140px 140px;
    background-position: 5px 5px;
    margin: 0;
  }

  .fff-milestone-background-svg {
    cx: 75;
    cy: 75;
    r: 70;
    stroke: #d0d1d2;
    stroke-width: 5;
    fill: none;
  }

  .fff-milestone-progress-svg {
    cx: 75;
    cy: 75;
    r: 70;
    stroke-width: 10;
    fill: none;
    transform-origin: center;
  }
  /* 僅限一週內查詢，手機12px非手機版都16px */
  .fff-exchange-record-warning {
    font-size: 16px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
    color: #b9433b;
  }

  .fff-mshowto-content {
    margin: auto auto;
    background-color: white;
    width: 500px;
    border-radius: 25px;
    text-align: left;
    line-height: 30px;
    border: 5px #627e2a solid;
    padding: 75px;
  }
  .fff-mshowto-content span {
    margin: 60px 0 60px 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .fff-txt-info {
    font-size: 16px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
  }
  .fff-txt-points {
    font-size: 21px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
    color: #b9433b;
  }
  .fff-info-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: darkgrey;
    margin-right: 15px;
  }
  .fff-btn-white {
    background-color: white;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    color: #627e2a;
    border: 1px #627e2a solid;
    display: inline-block;
  }

  .fff-stone-item-box {
    margin-bottom: 20px;
    max-width: 150px;
  }

  .fff-svg-painting {
    width: 150px;
    height: 150px;

    background-repeat: no-repeat;
    background-size: 140px 140px;
    background-position: 5px 5px;
  }

  .fff-milestone-background-svg {
    cx: 75;
    cy: 75;
    r: 70;
    stroke: #d0d1d2;
    stroke-width: 5;
    fill: none;
  }

  .fff-mshowto-content {
    margin: auto auto;
    background-color: white;
    width: 650px;
    border-radius: 25px;
    text-align: left;
    line-height: 30px;
    border: 5px #627e2a solid;
    padding: 75px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .fff-txt-info {
    font-size: 21px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
  }
  .fff-txt-points {
    font-size: 24px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
    color: #b9433b;
  }
  .fff-info-pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: darkgrey;
    margin-right: 30px;
  }
  .fff-reward-pic {
    width: 160px;
  }

  .fff-stone-item-box {
    margin-bottom: 20px;
    max-width: 150px;
  }

  .fff-milestone-background-svg {
    cx: 75;
    cy: 75;
    r: 70;
    stroke: #d0d1d2;
    stroke-width: 5;
    fill: none;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .fff-txt-info {
    font-size: 21px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
  }
  .fff-txt-points {
    font-size: 24px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
    color: #b9433b;
  }
  .fff-info-pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: darkgrey;
    margin-right: 30px;
  }
  .fff-reward-pic {
    width: 200px;
  }

  .fff-stone-item-box {
    margin-bottom: 30px;
    max-width: 200px;
  }

  .fff-svg-painting {
    width: 200px;
    height: 200px;

    background-repeat: no-repeat;
    background-size: 160px 160px;
    background-position: 20px 20px;
  }

  .fff-milestone-background-svg {
    cx: 100;
    cy: 100;
    r: 80;
    stroke: #d0d1d2;
    stroke-width: 5;
    fill: none;
  }

  .fff-milestone-progress-svg {
    cx: 100;
    cy: 100;
    r: 80;
    stroke-width: 10;
    fill: none;
    transform-origin: center;
  }
}

.fff-txt-ms-select {
  font-family: GenSenRounded TW;
  text-decoration: none !important;
  font-size: 16px;
  color: #a2a3a5;
  margin-bottom: 24px;
}
.fff-txt-rw-select {
  font-family: GenSenRounded TW;
  text-decoration: none !important;
  font-size: 16px;
  color: #627e2a;
}

.fff-txt-rw-unselect {
  font-family: GenSenRounded TW;
  text-decoration: none !important;
  font-size: 16px;
  color: #627e2a;
  opacity: 50%;
}

.fff-txt-ms-select-active {
  font-family: GenSenRounded TW;
  text-decoration: none !important;
  color: #434341;
}
.fff-txt-rw-select-active {
  font-family: GenSenRounded TW;
  text-decoration: none !important;
  color: #627e2a;
}

.fff-ms-select-line {
  background-color: #a2a3a5;
  border-radius: 2.5px;
  height: 5px;
  margin-bottom: 24px;
}
.fff-rw-select-line {
  background-color: #627e2a7e;
  border-radius: 2.5px;
  height: 5px;
  margin-bottom: 24px;
}

.fff-ms-select-active {
  height: 10px;
  background-color: #707070;
  border-radius: 5px;
}
.fff-rw-select-active {
  height: 10px;
  background-color: #627e2a;
  border-radius: 5px;
  opacity: 100%;
  margin: 0px;
  padding: 0px;
}

.fff-ms-select-active {
  height: 10px;
  background-color: #707070;
  border-radius: 5px;
  margin: 20%;
}

.fff-txt-ms-unselect {
  font-family: GenSenRounded TW;
  text-decoration: none !important;
  color: #a2a3a5;
}

.fff-stone-item-icon {
  margin-bottom: 25px;
}

.fff-stone-item-forword {
  color: #627e2a;
  font-size: 35px;
}

#fff-record-table {
  width: 100%;
  text-align: center;
}

#fff-record-table div {
  color: #627e2a;
}
.fff-reward-unuse {
  color: #ba463e;
}

.fff-reward-used {
  color: #434341;
}

.fff-svg-painting-detail {
  width: 310px;
  height: 310px;

  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-position: 5px 5px;
}

.fff-milestone-background-svg-detail {
  cx: 155;
  cy: 155;
  r: 150;
  stroke: #d0d1d2;
  stroke-width: 5;
  fill: none;
}

.fff-milestone-progress-svg-detail {
  cx: 155;
  cy: 155;
  r: 150;
  stroke: #f3e575;
  stroke-width: 10;
  fill: none;
  stroke-dasharray: 281, 4000;
  transform-origin: center;
}

.fff-txt-stone-detail h5 {
  color: #a2a3a5;
}

/* The Modal (background) */
.fff-mshowto {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.5); /* Black w/ opacity */
}

.fff-mshowto-content p {
  margin-bottom: 0;
}
/* 單個成就介紹 */
.fff-ms-detail-content {
  display: block;
  margin: auto auto;
  background-color: white;
  width: 60%;
  border-radius: 25px;
  text-align: left;
  line-height: 30px;
  border: 5px #627e2a solid;
  padding: 75px;
}

/* The Modal (background) */
.fff-exchange {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.5); /* Black w/ opacity */
}

.fff-exchange-content-box p {
  margin-bottom: 0;
}

.fff-exchange-content-box {
  margin: auto auto;
  background-color: white;
  width: 420px;
  border-radius: 25px;
  text-align: left;
  line-height: 30px;
  border: 5px #627e2a solid;
  padding: 36px 70px 70px 70px;
}

.fff-exchange-content {
  padding: 0;
}

.circle-spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



