.fff-no-mr-and-pad {
  margin: 0px;
  padding: 0px;
}


@media (min-width: 0px) {
  .fff-txt-info {
    font-size: 14px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
  }
  .fff-txt-points {
    font-size: 16px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
    color: #b9433b;
  }
  .txt-btn {
    font-family: GenSenRounded TW;
    font-size: 14px;
    text-decoration: none !important;
    letter-spacing: 0.24px;
  }
  .fff-info-pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: darkgrey;
    margin-right: 10px;
  }
  .btn-white {
    background-color: white;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    color: #627e2a;
    border: 1px #627e2a solid;
    display: inline-block;
    margin: 5px;
  }
  .fff-my-info-box {
    height: 120px;
    border-radius: 25px;
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 125px !important;
  }
  .fff-reward-pic{
    max-width:160px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .fff-txt-info {
    font-size: 14px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
  }
  .fff-txt-points {
    font-size: 16px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
    color: #b9433b;
  }
  .txt-btn {
    font-family: GenSenRounded TW;
    font-size: 14px;
    text-decoration: none !important;
    letter-spacing: 0.24px;
  }
  .fff-info-pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: darkgrey;
    margin-right: 10px;
  }
  .btn-white {
    background-color: white;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    color: #627e2a;
    border: 1px #627e2a solid;
    display: inline-block;
    margin: 5px;
  }
  .fff-my-info-box {
    height: 120px;
    border-radius: 25px;
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .fff-txt-info {
    font-size: 16px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
  }
  .fff-txt-points {
    font-size: 21px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
    color: #b9433b;
  }
  .fff-info-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: darkgrey;
    margin-right: 15px;
  }
  .btn-white {
    background-color: white;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    color: #627e2a;
    border: 1px #627e2a solid;
    display: inline-block;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .fff-txt-info {
    font-size: 21px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
  }
  .fff-txt-points {
    font-size: 24px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
    color: #b9433b;
  }
  .fff-info-pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: darkgrey;
    margin-right: 30px;
  }
  .fff-reward-pic{
    width:160px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .fff-txt-info {
    font-size: 21px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
  }
  .fff-txt-points {
    font-size: 24px;
    font-family: GenSenRounded TW;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.29px;
    text-decoration: none;
    color: #b9433b;
  }
  .fff-info-pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: darkgrey;
    margin-right: 30px;
  }
  .fff-reward-pic{
    width:200px;
  }
}


.fff-txt-ms-select {
  font-family: GenSenRounded TW;
  text-decoration: none !important;
  font-size: 16px;
  color: #a2a3a5;
  margin-bottom: 24px;
}
.fff-txt-rw-select {
  font-family: GenSenRounded TW;
  text-decoration: none !important;
  font-size: 16px;
  color: #627e2a;

}

.fff-txt-rw-unselect {
  font-family: GenSenRounded TW;
  text-decoration: none !important;
  font-size: 16px;
  color: #627e2a;
  opacity: 50%;
}

.fff-txt-ms-select-active {
  font-family: GenSenRounded TW;
  text-decoration: none !important;
  color: #434341;
}
.fff-txt-rw-select-active {
  font-family: GenSenRounded TW;
  text-decoration: none !important;
  color: #627e2a;
}

.fff-ms-select-line {
  background-color: #a2a3a5;
  border-radius: 2.5px;
  height: 5px;
  margin-bottom: 24px;
}
.fff-rw-select-line {
  background-color: #627e2a7e;
  border-radius: 2.5px;
  height: 5px;
  margin-bottom: 24px;
}

.fff-ms-select-active {
  height: 10px;
  background-color: #707070;
  border-radius: 5px;
}
.fff-rw-select-active {
  height: 10px;
  background-color: #627e2a;
  border-radius: 5px;
  opacity: 100%;
  
}

.fff-ms-select-active {
  height: 10px;
  background-color: #707070;
  border-radius: 5px;
  margin: 20%;
}

.fff-txt-ms-unselect {
  font-family: GenSenRounded TW;
  text-decoration: none !important;
  color: #a2a3a5;
}




.fff-stone-item-icon {
  margin-bottom: 25px;
}

.fff-stone-item-forword {
  color: #627e2a;
  font-size: 35px;
}

.fff-dialog {
  background-color: white;
  /* width: 600px; */
  border-radius: 25px;
  text-align: left;
  line-height: 30px;
  border: 5px #627e2a solid;
  padding-bottom: 75px;
  padding-top: 19px;
}

#fff-record-table {
  width: 100%;
  text-align: center;
}

#fff-record-table div {
  color: #627e2a;
}
.fff-reward-unuse {
  color: #ba463e;
}

.fff-reward-used {
  color: #434341;
}

.fff-stone-item-box {
  margin-bottom: 90px;
  max-width:200px;
}

.fff-svg-painting{
  width:200px;
  height: 200px;
  background-image: url("../../../public/img/fff/reward-Env.png");

  background-repeat: no-repeat;
  background-size: 160px 160px;
  background-position:20px 20px;
}

.fff-milestone-background-svg{
  cx:100;
  cy:100;
  r:80;
  stroke:#D0D1D2;
  stroke-width: 5;
  fill:none;
}

.fff-milestone-progress-svg{
  cx:100;
  cy:100;
  r:80;
  stroke:#f3e575;
  stroke-width: 10;
  fill:none;
  stroke-dasharray: 150,4000;
  transform-origin: center;
}

.fff-svg-painting-detail{
  width:310px;
  height: 310px;
  background-image: url("../../../public/img/fff/reward-Env.png");

  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-position:5px 5px;
}

.fff-milestone-background-svg-detail{
  cx:155;
  cy:155;
  r:150;
  stroke:#D0D1D2;
  stroke-width: 5;
  fill:none;
}

.fff-milestone-progress-svg-detail{
  cx:155;
  cy:155;
  r:150;
  stroke:#f3e575;
  stroke-width: 10;
  fill:none;
  stroke-dasharray: 281,4000;
  transform-origin: center;
}

.fff-txt-stone-detail h5 {
color: #a2a3a5;
}

.modal{
  background: rgba(255,255,255,0.5)
}

.fff-dialog p{
  margin-bottom: 0;
  /* padding-bottom: 75px; */
}


