@media (min-width: 1700px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1640px;
  }
}

/* 網頁版 */
@media (min-width: 900px) {
  .xxx-p2-image{
    width: 977px;
    height: 647px;
    background: no-repeat url("http://localhost:3015/img/index/index-p2-img.png");
    margin: 0px;
  }
  .xxx-w20h200{
    width: 20px;
    /* height: 100px; */
    height: 300px;
  }
  
  .xxx-mt200{
    margin-top: 250px;
  }
  .p3-img-div {
  width: 500px;
  height: 500px;
  margin-top: 80px;
  /* 置中 */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  /* 要加這個圖才會正確大小 */
  padding: 0;
}
  .p5-bg {
    background-color: #f3e575;
    border-radius: 75px;
    height: 400px;
    margin-bottom: 200px;
  }
  .xxx-p1-h {
    height: 1050px;
  }
  .p5-leaf1-div {
    position: absolute;
    max-width: 220.54px;
    max-height: 150px;
    top: -50px;
    left: -350px;
    padding: 0;
    image-orientation: 336deg;
  }
  .p5-leaf2-div {
    position: absolute;
    max-width: 182px;
    max-height: 124px;
    top: 420px;
    left: -350px;
    padding: 0;
    image-orientation: 24deg;
  }
  .p5-leaf3-div {
    position: absolute;
    max-width: 93px;
    max-height: 175px;
    top: 450px;
    left: -130px;
    padding: 0;
    image-orientation: -105deg;
  }
  .p5-leaf4-div {
    position: absolute;
    max-width: 145px;
    max-height: 115px;
    image-orientation: 15deg;
    top: -100px;
    padding: 0;
    left: -330px;
  }
  .p5-leaf5-div {
    position: absolute;
    max-width: 420px;
    max-height: 325px;
    top: 220px;
    padding: 0;
    left: -710px;
  }

  .p1-bg {
    height: 500px;
    background-color: #f3e575;
    border-radius: 75px;
    margin-bottom: 200px;
    padding: 0px !important;
  }
  .p1-left-div {
    width: 318px;
    height: 281px;
    margin-top: 100px;
  }
  .p1-line {
    position: absolute;
    top: 245px;
    width: 47px;
    height: 1.6px;
    background-color: #a2a3a5;
  }
  .circle-spin {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    left: 490px;
    top: 30px;
    margin: 0px;
  }
  .p1-img-div {
    max-width: 620px;
    max-height: 614.44px;
    padding: 0px;
    position: absolute;
    left: 500px;
    top: 50px;
  }
}
/* 手機板 */
@media (max-width: 572px) {
  .p3-img-div {
  width: 500px;
  height: 340px;
  margin-top: 80px;
  /* 置中 */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  /* 要加這個圖才會正確大小 */
  padding: 0;
}
  .xxx-miss {
    display: none;
  }
  .xxx-p1-h {
    height: 750px;
  }
  .xxx-ml50 {
    margin-left: 85px;
  }
  .xxx-h-center {
    left: -1010px;
  }
  .p5-bg {
    background-color: white;
    border-radius: 75px;
    height: 400px;
    margin: 0px;
  }
  .p1-bg {
    height: 500px;
    background-color: white;
    border-radius: 75px;
    margin-bottom: 200px;
    padding: 0px !important;
  }
  .p1-left-div {
    width: 318px;
    height: 281px;
    margin-top: 20px;
  }
  .p1-line {
    position: absolute;
    top: 165px;
    left: 65px;
    width: 47px;
    height: 1.6px;
    background-color: #a2a3a5;
  }
  .p1-img-div {
    max-width: 620px;
    max-height: 614.44px;
    padding: 0px;
  }
  .xxx-xscenter {
    margin-left: 85px;
    margin-top: 25px;
  }
  .p5s-leaf1-90x61 {
    position: absolute;
width: 90px;
height: 61px;
    padding: 0;
    image-orientation: 336deg;
    top: 380px;

  }
  .p5s-leaf2-74x51 {
    position: absolute;
    width: 74px;
    height: 51px;
    padding: 0;
    image-orientation: 24deg;
    top: 550px;

  }
  .p5s-leaf3-37x71 {
    position: absolute;
    width: 38px;
    height: 71px;
    padding: 0;
    image-orientation: -105deg;
    top: 550px;
    left: 100px;

  }
  .img-size100{
    width: 100%;
  }
  .p5s-leaf4-59x47 {
    position: absolute;
    width: 59px;
    height: 47px;
    image-orientation: 15deg;
    top: 350px;

    padding: 0;
  }
  .p5s-leaf5-172x132 {
    width: 172px;height: 132px;
    position: absolute;
    padding: 0;
    top: 500px;
    left: -100px;

  }
}

/* .container.custom-container-width {
        max-width: 1640px;
      } */

/* @font-face {
        font-family: myfont;
        font-weight: r;
        src: url("fonts\GenSenRounded-R.ttc");
      }

      @font-face {
        font-family: myfont;
        font-weight: bold;
        src: url("./fonts/GenSenRounded-B.ttc");
      }
      @font-face {
        font-family: myfont;
        font-weight: normal;
        src: url("./fonts/GenSenRounded-M.ttc");
      } */

/* 此頁面共用 */
/* div裡的圖片都這樣設 . 大小位置依外層div*/
.xxx-mt100{
  margin-top: 200px;
}
.img-size {
  width: 100%;
}
/* 顏色 */
.col-green {
  color: #627e2a;
}
.col-gray {
  color: #a2a3a5;
}
.col-red {
  color: #b9433b;
}
.col-black {
  color: #434341;
}
.col-white {
  color: #ffffff;
}

.xxx-txt-cap {
  margin-bottom: 0;
}
.xxx-center {
  margin-left: 735px;
  margin-bottom: 200px;
}

/* p1 */
.xxx-p1-sc {
  position: relative;
  left: 610px;
}
.xxx-450x540 {
  width: 450px;
  height: 540px;
}

.p1-text-size {
  width: 193px;
  height: 130px;
}

.p1-right-but {
  margin-top: 300px;
}
.p1-change-line {
  width: 90px;
  height: 10px;
  background-color: #a2a3a5;
  opacity: 0.3;
  border-radius: 45px;
}
.p1-change {
  position: absolute;
  /* left: -100; */
  width: 30px;
  height: 10px;
  border-radius: 45px;
  background-color: #a2a3a5;
}
.p1-but-change1 {
  background-color: transparent;
  border: transparent;
  margin-right: 100px;
}
.p1-but-change2 {
  background-color: transparent;
  border: transparent;
  margin-left: 100px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.p1-scroll-btn {
  background-color: #ffffff;
  border-radius: 75px;
  width: 60px;
  height: 20px;
  color: white;
  border: transparent;
  margin-bottom: 200px;
}

/* hello */
.xxx-p1-hello {
  background-color: white;
  font-size: 2rem;
  /* padding: 1em 2.5em; */
  margin-bottom: 1em;
  border-radius: 25px;
  position: relative;
  animation: fade 7s infinite;
  width: 4em;
  height: 1.5em;
  top: -550px;
  right: -1200px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #cccccc;
}

.xxx-p1-hello:after {
  background-color: transparent;

  content: ' ';
  position: absolute;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid #dacccc;
  bottom: -0.5em;
  left: 45%;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.arm {
  height: 100px;
  width: 28px;
  background-color: #f3e575;
  border-radius: 25px;
  position: absolute;
  top: 850px;

  transform-origin: top;
}

.arm:nth-child(1) {
  transform: rotate(60deg);
  left: 1440px;
  animation: wave 7s infinite cubic-bezier(0, 0, 0.2, 1);
}
@keyframes wave {
  0% {
    transform: rotate(60deg);
  }
  30% {
    transform: rotate(120deg);
  }
  40% {
    transform: rotate(125deg);
  }
  45% {
    transform: rotate(115deg);
  }
  50% {
    transform: rotate(125deg);
  }
  55% {
    transform: rotate(120deg);
  }
  70% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(60deg);
  }
}
.xxx-boom {
  position: relative;

  top: -550px;
  right: -1200px;
}
/* p2 */
.p2-img-div {
  max-width: 977px;
  max-height: 647px;
}
.p2-mb {
  margin-bottom: 50px;
}
/* p3 */

.p3-simg-div {
  width: 126.44px;
  height: 135px;
  padding: 0;
}
.p3-bottom {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}
.p3-timesize {
  width: 168px;
  height: 14.31px;
  margin-left: auto;
  margin-right: auto;
}
.p3-line {
  height: 5px;
  background-color: #a2a3a5;
}
.p3-line-button {
  width: 80px;
  height: 10px;
  background-color: #434341;
  border-radius: 45px;
  border-color: transparent;
}
.p3-line-button2 {
  width: 80px;
  height: 10px;
  background-color: transparent;
  border-radius: 45px;
  border-color: transparent;
}
.p3LineButtonDiv {
  position: relative;
  top: -66px;
  margin-left: auto;
  margin-right: auto;
}

/* p5 */
.p5-mb {
  margin-bottom: 200px;
}

.p5-change {
  position: absolute;
  left: -90px;
  top: 580px;
}

.p5-bg-t {
  margin-top: 85px;
}
.p5-img-divxs {
  height: 250px;
  width: 234px;
  padding: 0;
  margin-bottom: 100px;
}
.p5-img-div {
  position: absolute;
  max-height: 600px;
  max-width: 562px;
  top: -70px;
  left: -220px;
  padding: 0;
}
.img-size100 {
  width: 100%;
}
.mt-100 {
  margin-top: 150px;
}

.p5-but-change1 {
  background-color: transparent;
  border: transparent;
  margin-right: 50px;
}
.p5-but-change2 {
  background-color: transparent;
  border: transparent;
  margin-left: 50px;
}

.xxx-p6-mb {
  margin-bottom: 0px;
}
.p7-font-div {
  max-width: 144px;
  max-height: 16px;
  /* 此容器垂直置中 */
  margin-left: auto;
  margin-right: auto;
}
.p7-left-div {
  margin-top: auto;
  margin-bottom: auto;
}
.xxx-h50
{
  height: 50px;
}
