/* 第一版圖片 */
/* .lll-first-picture-width {
  position: absolute;
  top: 225px;
  width: 478px;
}

@media (max-width: 991px) {
  .lll-first-picture-width {
    top: 225px;
    width: 239px;
  }
}

@media (max-width: 576px) {
  .lll-first-picture-width {
    top: 300px;
    width: 239px;
  }
}

@keyframes test {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
  }
}

.lll-first-picture {
  height: 550px;
  background: url('http://localhost:3015/img/lydia/surprisekitcheninit.png');
  background-size: cover;
  visibility: hidden;
  animation: test ease;
}

@media (max-width: 991px) {
  .lll-first-picture {
    height: 275px;
  }
} */

.lll-change-picture-width {
  position: absolute;
  top: 225px;
  width: 1090px;
}

@media (max-width: 375px) {
  .lll-change-picture-width {
    top: 110px;
    width: 375px;
  }
}

.lll-change-picture {
  height: 550px;
  background: url('http://localhost:3015/img/lydia/surprisekitchenhero.jpg');
  background-size: cover;
  border-radius: 0 75px 75px 0;
  opacity: 0.5;
  animation: test2 6s ease;
}

@media (max-width: 375px) {
  .lll-change-picture {
    height: 204px;
    border-radius: 0;
  }
}

@keyframes test2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.lll-coupon-position {
  position: absolute;
  left: 1311px;
  margin-top: 363px;
  width: 469px;
  height: 248px;
}

@media (max-width: 375px) {
  .lll-coupon-position {
    left: 85px;
    margin-top: 240px;
    width: 207px;
    height: 100px;
  }
}

.lll-get-coupon {
  width: 248px;
  height: 240px;
  visibility: visible;
  animation: round 24s linear infinite;
}

@media (max-width: 375px) {
  .lll-get-coupon {
    width: 104px;
    height: 100px;
  }
}

.lll-get-coupon2 {
  width: 248px;
  height: 240px;
  visibility: hidden;
  animation: round2 24s linear infinite;
}

@media (max-width: 375px) {
  .lll-get-coupon2 {
    width: 104px;
    height: 100px;
  }
}

/* .lll-testtransition{
  position: absolute;
  left: 0;
  top: 0;
  width: 248px;
  height: 240px;
}

.lll-testtransition-enter{
  opacity: 0;
}

.lll-testtransition-enter-active{
  opacity: 1;
  transition: opacity 200ms;
}

.lll-testtransition-exit {
  opacity: 1;
}

.lll-testtransition-exit-active {
  opacity: 0;
  transition: opacity 200ms;
} */

@keyframes round {
  49% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes round2 {
  49% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

/* .lll-get-coupon:nth-child(1) {
  animation-delay: 0s;
}
.lll-get-coupon:nth-child(2) {
  animation-delay: 5s;
} */
/* .lll-get-coupon:nth-child(3) {
  animation-delay: 10s;
}
.lll-get-coupon:nth-child(4) {
  animation-delay: 15s;
}  */

.lll-meal-pictures {
  position: absolute;
  left: 0px;
  height: 240px;
}

@media (max-width: 375px) {
  .lll-meal-pictures {
    height: 100px;
  }
}

.lll-order-text {
  font-family: GenSenRounded TW;
  font-size: 93px !important;
  font-weight: bold !important;
  line-height: 93px !important;
  letter-spacing: 1.01px;
  text-decoration: none;
}

@media (max-width: 375px) {
  .lll-order-text {
    font-family: GenSenRounded TW;
    font-size: 50px !important;
    font-weight: bold !important;
    line-height: 50px !important;
    letter-spacing: -0.01px;
    text-decoration: none;
  }
}

.lll-explain-coupon {
  position: absolute;
  left: 1499px;
  top: 810px;
  color: #b9433b;
  font-family: GenSenRounded TW;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none !important;
  letter-spacing: 0.22px;
}

@media (max-width: 375px) {
  .lll-explain-coupon {
    padding-top: 0;
    left: 70px;
    top: 470px;
    color: #b9433b;
    font-family: GenSenRounded TW;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none !important;
  }
}

/* 第一版文字 */
/* .lll-text-position {
  text-align: right;
}

@media (max-width: 991px) {
  .lll-text-position {
    margin-top: 80px;
    text-align: right;
  }
}

@media (max-width: 576px) {
  .lll-text-position {
    margin-top: 10px;
    text-align: right;
    max-width: 100%;
  }
} */

.lll-text {
  position: absolute;
  left: 553px;
}

@media (max-width: 375px) {
  .lll-text {
    left: 50px;
    text-align: right;
  }
}

.lll-firstpage-title {
  padding-top: 186px;
  color: #434341;
  padding-bottom: 30px;
  animation: test3 6s ease;
}

@keyframes test3 {
  0% {
    color: #ffffff;
  }
  100% {
    color: #434341;
  }
}

/* @media (max-width: 991px) {
  .lll-firstpage-title {
    font-size: 36px !important;
    padding-bottom: 0px;
  }
} */

@media (max-width: 375px) {
  .lll-firstpage-title {
    padding-top: 45px;
    font-size: 36px !important;
    padding-bottom: 0px;
  }
}

.lll-detile-style {
  color: #ffffff;
  text-shadow: #434341  0.1em 0.1em 1em;
  animation: test4 6s ease;
}

@keyframes test4 {
  0% {
    color: #ffffff;
  }
  50% {
    color: #a2a3a5;
  }
  100% {
    color: #ffffff;
  }
}

@media (max-width: 991px) {
  .lll-detile-style {
    font-size: 12px !important;
    margin: 0;
  }
}

.lll-line {
  font-size: 20px;
}

.lll-textalign-right {
  text-align: right;
}

.lll-pb50 {
  padding-bottom: 50px;
}

@media (max-width: 576px) {
  .lll-button-distance {
    padding-bottom: 300px;
  }
}

@media (max-width: 576px) {
  .lll-mobile-btn {
    text-align: center;
    padding-top: 300px;
    max-width: 100%;
  }
}

@media (max-width: 375px) {
  .lll-mobile-btn {
    text-align: center;
    padding-top: 200px;
    padding-left: 30px;
    max-width: 100%;
  }
}

/* 第一版文字RWD */
@media (max-width: 1700px) {
  .lll-text-rwd {
    max-width: 70% !important;
  }
}

@media (max-width: 1200px) {
  .lll-text-rwd {
    max-width: 100% !important;
  }
}

/* scroll位置, 顏色 */
.lll-scroll {
  margin-top: 681px;
  text-align: center;
}

.btn-yello {
  background-color: #f3e575;
  width: 80px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
  line-height: 24px;
  color: white;
  border: 1px solid #f3e575;
  display: inline-block;
}

.btn-yello:hover {
  background-color: #627e2a;
  width: 80px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
  line-height: 24px;
  color: white;
  border: 1px solid#627E2A;
  display: inline-block;
  transition: 0.4s;
}

/* 預約驚喜廚房 */
.lll-appoint {
  margin-top: 220px;
}

.lll-title-style {
  color: #627e2a;
  margin: 0;
  padding-bottom: 30px;
}

@media (max-width: 991px) {
  .lll-title-style {
    font-size: 36px !important;
    padding-bottom: 10px;
  }
}

.lll-trans-block {
  display: flex;
}

@media (max-width: 991px) {
  .lll-trans-block {
    display: block !important;
  }
}
/* 這個蓋不過 */

@media (max-width: 991px) {
  .lll-trans-block > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 0;
  }
}

/* 展開, 隱藏切換按鈕 */
.lll-btn-hidden {
  width: 120px;
  height: 30px;
  background-color: #627e2a;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 15px 15px 0 0;
  border: 1px #627e2a solid;
  display: inline-block;
}

.lll-btn-open {
  width: 120px;
  height: 30px;
  background-color: #a2a3a5;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 15px 15px 0 0;
  border: 1px #a2a3a5 solid;
  display: inline-block;
}

/* .lll-btn-hidden:hover {
  width: 120px;
  height: 30px;
  background-color: #5b722d;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 15px 15px 0 0;
  border: 1px #5b722d solid;
  display: inline-block;
  transition: 0.2s;
} */

.lll-hidden-line {
  background-color: #627e2a;
  height: 5px;
  width: 100%;
}

.lll-hidden-grayline {
  background-color: #a2a3a5;
  height: 5px;
  width: 100%;
}

.lll-textalign-right {
  text-align: right;
}

/* 預約驚喜廚房選單 */
.lll-grey-hover {
  color: #a2a3a5;
}

.lll-grey-hover:hover {
  color: #434341;
  text-decoration: none;
}

@media (max-width: 991px) {
  .lll-appoint-w100 {
    max-width: 100% !important;
  }
}

.lll-allheight {
  height: 680px;
}

@media (max-width: 1700px) {
  .lll-allheight {
    height: 1270px;
  }
}

.lll-selected-position {
  padding-top: 20px;
  padding-bottom: 60px;
}

.lll-black {
  color: #434341;
}

.lll-h5 {
  font-family: GenSenRounded TW;
  font-size: 24px !important;
  font-weight: 500 !important;
  line-height: 36px !important;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.lll-h5:hover {
  color: #a2a3a5;
}

.lll-calendar {
  width: 320px;
  height: 400px;
  background: #fff;
  padding-top: 30px;
}

.lll-pt30 {
  padding-top: 30px;
}

.lll-body-list {
  width: 100%;
}

.lll-cursor {
  cursor: pointer;
}

.lll-body-list li {
  width: 14.28%;
  height: 48px;
  line-height: 50px;
  list-style-type: none;
  display: block;
  box-sizing: border-box;
  float: left;
  text-align: center;
}

.lll-body-list-item {
  width: 14.28%;
  height: 50px;
  line-height: 50px;
  list-style-type: none;
  display: block;
  box-sizing: border-box;
  float: left;
  text-align: center;
  cursor: pointer;
}

.today {
  color: #f3e575;
}

/* 日期選項顏色 */
.lll-grey {
  color: #a2a3a5; /* 尚未開放, 過去的時間*/
}

.lll-green {
  color: #627e2a; /*尚有名額, 此月開放的日期*/
}

.lll-green-active {
  width: 50px;
  height: 50px;
  border-radius: 60px 60px 60px 60px;
  background-color: #627e2a;
  color: #ffffff;
}

.lll-red {
  color: #b9433b; /*已額滿*/
}

/* 標示名額顏色 */
.lll-option-position {
  display: inline-block;
  position: relative;
  left: 370px;
  top: -110px;
}

@media (max-width: 768px) {
  .lll-option-position {
    left: 0px;
    top: 30px;
  }
}

.lll-li-grey {
  background: url('http://localhost:3015/img/lydia/SVG/grey.svg') no-repeat;
  background-size: 16px;
  line-height: 16px;
  padding-left: 28px;
  margin-bottom: 20px;
}

.lll-li-green {
  background: url('http://localhost:3015/img/lydia/SVG/green.svg') no-repeat;
  background-size: 16px;
  line-height: 16px;
  padding-left: 28px;
  margin-bottom: 20px;
}

.lll-li-red {
  background: url('http://localhost:3015/img/lydia/SVG/red.svg') no-repeat;
  background-size: 16px;
  line-height: 16px;
  padding-left: 28px;
}

/* 請選擇場次 */
.lll-times-position {
  margin-top: px;
}
/* 這個很怪???? */

.llltxt-btn{
  /* 刪除line-height版 */
  font-family: GenSenRounded TW;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none !important;
  letter-spacing: 0.24px;
}

@media (max-width: 768px) {
  .lll-times-position {
    margin-top: 100px;
  }
}

.lll-select-btn-white {
  background-color: white;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  line-height: 35px;
  color: #627e2a;
  border: 1px #627e2a solid;
  display: inline-block;
}

.lll-select-btn-white:hover {
  background-color: #627e2a;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  border: 1px #627e2a solid;
  display: inline-block;
  transition: 0.2s;
}

.lll-select-btn-white-active {
  background-color: #627e2a;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  border: 1px #627e2a solid;
  display: inline-block;
}

/* 已額滿的選項 */
.lll-select-btn-tryover {
  background-color: #ffffff;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  line-height: 35px;
  color: #b9433b;
  border: 1px #b9433b solid;
  display: inline-block;
}

.lll-select-btn-tryover:hover {
  background-color: #ffffff;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  line-height: 35px;
  color: #b9433b;
  border: 1px #b9433b solid;
  display: inline-block;
}

.lll-txt-btndel {
  font-family: GenSenRounded TW;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.24px;
  text-decoration: line-through;
}

.lll-txt-btndel:hover {
  font-family: GenSenRounded TW;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.24px;
  text-decoration: line-through;
}

.lll-pr30 {
  padding-right: 30px;
}

.lll-pr20 {
  padding-right: 20px;
}

.lll-ml-position {
  width: 397px;
}

@media (max-width: 768px) {
  .lll-ml-width {
    width: 345px;
  }
}

@media (max-width: 768px) {
  .lll-ml-position {
    width: 345px !important;
    margin-top: 818px !important;
  }
}

@media (max-width: 1700px) {
  .lll-ml-position {
    position: relative;
    margin-top: 730px;
    left: -330px;
  }
}

.lll-pb30 {
  padding-bottom: 30px;
}

.lll-pb20 {
  padding-bottom: 20px;
}

.lll-msg {
  background-color: white;
  width: 100%;
  height: 90px;
  border-radius: 10px;
  border: 3px #627e2a solid;
}

.lll-mb30 {
  margin-bottom: 30px;
}

/* 讓字跟24px垂直置中 */
.lll-center {
  padding-top: 10px;
}

.lll-price-line {
  padding-top: 50px;
  border-top: 3px solid #a2a3a5;
}

.lll-mt40 {
  margin-top: 40px;
}

/* 驚喜廚房規則說明 */
.lll-explain {
  background-color: #f3e575;
  height: 170px;
  margin-top: 50px;
  border-radius: 25px;
}

@media (max-width: 1700px) {
  .lll-explain {
    height: 250px;
  }
}

@media (max-width: 991px) {
  .lll-explain {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .lll-explain > .txt-sub1 {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
}

/* 預約規則說明 */
.lll-rw-select-active {
  height: 10px;
  background-color: #434341;
  border-radius: 5px;
  opacity: 100%;
  margin: 0px;
  padding: 0px;
}

.lll-barwidth{
width: 80px;
}

.lll-pb1{
  padding-bottom: 1px;
}

.lll-rw-select-line {
  background-color: rgb(162, 163, 165, .3);
  height: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.lll-rw-title-line {
  background-color: rgba(162, 163, 165, 0.3);
  height: 10px;
  border-radius: 5px;
}

.lll-txt-rw-select-active {
  font-family: GenSenRounded TW;
  font-weight: 500;
  text-decoration: none !important;
  color: #627e2a;
}

.lll-textposition{
  margin-right: 86px;
}

.lll-title-line {
  padding-top: 50px;
}

.lll-mt110 {
  margin-top: 110px;
}

.lll-mb110 {
  margin-bottom: 110px;
}

.lll-pb45 {
  padding-bottom: 45px;
}

@media (max-width: 991px) {
  .lll-12px {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
}

/* 地理位置 */
.lll-mobile-block {
  display: flex;
}

@media (max-width: 1700px) {
  .lll-mobile-block {
    display: block !important;
  }
}

.lll-mobile-lemon{
  height: 400px;
}

.lll-lemon-howtogo{
  width: 300px;
  height: 300px;
  position: relative;
  top: 50px;
}

@media (max-width: 375px) {
  .lll-mobile-lemon {
    max-width: 100% !important;
  }
}

.lll-max100 {
  height: 400px;
  width: 100%;
}

@media (max-width: 1700px) {
  .lll-max100 {
    max-width: 100% !important;
  }
}

.lll-max100-center {
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 1700px) {
  .lll-max100-center {
    max-width: 100% !important;
    justify-content: center !important;
    margin-top: 50px !important;
  }
}

.lll-pt50 {
  padding-top: 50px;
}

/* 顧客評論 */
.lll-section {
  width: 100%;
  height: 425px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px 0 30px 0;
  overflow: auto;
}

.lll-lineheigh {
  line-height: 32px !important;
}

@media (max-width: 991px) {
  .lll-title-line > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 0;
  }
}

@media (max-width: 1700px) {
  .lll-change-max100 {
    max-width: 100% !important;
  }
}

@media (max-width: 991px) {
  .lll-change-max100 > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
}

/* menu位置 */
.lll-onmenu {
  position: absolute;
  right: -183px;
  cursor: pointer;
  width: auto;
}

@media (max-width: 375px) {
  .lll-onmenu {
    display: none;
  }
}

.lll-sticky {
  position: fixed;
  top: 0;
  right: 237px;
}

/*Lemon圖*/
.lll-picture-position {
  position: relative;
  height: 625px;
  width: 625px;
}

@media (max-width: 375px) {
  .lll-picture-position {
    position: relative;
    height: 270px;
    width: 270px;
  }
}

.lll-lemon-position {
  position: relative;
  top: 402px;
  left: 168px;
  height: 223px;
  width: 286px;
}

@media (max-width: 375px) {
  .lll-lemon-position {
    position: relative;
    top: 161px;
    left: 74.5px;
    height: 96px;
    width: 121px;
  }
}

.lll-lemon {
  height: 223px;
  width: 100%;
  background: url('http://localhost:3015/img/lydia/lemonCookingLemon.png');
  background-size: cover;
  overflow: hidden;
}

@media (max-width: 375px) {
  .lll-lemon {
    height: 96px;
  }
}

.lll-coriander {
  height: 95px;
  width: 92px;
  position: absolute;
  top: 393px;
  left: 471px;
  animation: coriander 4s ease-in-out infinite;
  animation-delay: 1s;
}

@media (max-width: 375px) {
  .lll-coriander {
    height: 38px;
    width: 37px;
    top: 173px;
    left: 203px;
    animation: coriander375 4s ease-in-out infinite;
    animation-delay: 1s;
  }
}

@keyframes coriander375 {
  0% {
    top: 173px;
    left: 203px;
  }
  50% {
    top: 200px;
    left: 203px;
  }
  100% {
    top: 173px;
    left: 203px;
  }
}

@keyframes coriander {
  0% {
    top: 393px;
    left: 471px;
  }
  50% {
    top: 420px;
    left: 471px;
  }
  100% {
    top: 393px;
    left: 471px;
  }
}

.lll-trout {
  height: 61px;
  width: 98px;
  position: absolute;
  top: 291px;
  left: 488px;
  animation: trout 4s ease-in-out infinite;
  animation-delay: 3s;
}

@media (max-width: 375px) {
  .lll-trout {
    height: 23px;
    width: 43px;
    top: 129px;
    left: 211px;
    animation: trout375 4s ease-in-out infinite;
    animation-delay: 3s;
  }
}

@keyframes trout375 {
  0% {
    top: 129px;
    left: 211px;
  }
  50% {
    top: 156px;
    left: 211px;
  }
  100% {
    top: 129px;
    left: 211px;
  }
}

@keyframes trout {
  0% {
    top: 291px;
    left: 488px;
  }
  50% {
    top: 318px;
    left: 488px;
  }
  100% {
    top: 291px;
    left: 488px;
  }
}

.lll-mushroom {
  height: 57px;
  width: 74px;
  position: absolute;
  top: 178px;
  left: 436px;
  animation: mushroom 4s ease-in-out infinite;
  animation-delay: 2s;
}

@media (max-width: 375px) {
  .lll-mushroom {
    height: 25px;
    width: 32px;
    top: 78px;
    left: 188px;
    animation: mushroom375 4s ease-in-out infinite;
    animation-delay: 2s;
  }
}

@keyframes mushroom {
  0% {
    top: 178px;
    left: 436px;
  }
  50% {
    top: 205px;
    left: 436px;
  }
  100% {
    top: 178px;
    left: 436px;
  }
}

@keyframes mushroom375 {
  0% {
    top: 78px;
    left: 188px;
  }
  50% {
    top: 105px;
    left: 188px;
  }
  100% {
    top: 78px;
    left: 188px;
  }
}

.lll-leef {
  height: 92px;
  width: 87px;
  position: absolute;
  top: 153px;
  left: 226px;
  animation: leef 4s ease-in-out infinite;
}

@media (max-width: 375px) {
  .lll-leef {
    height: 40px;
    width: 37px;
    top: 68px;
    left: 98px;
    animation: leef375 4s ease-in-out infinite;
  }
}

@keyframes leef {
  0% {
    top: 153px;
    left: 226px;
  }
  50% {
    top: 180px;
    left: 226px;
  }
  100% {
    top: 153px;
    left: 226px;
  }
}

@keyframes leef375 {
  0% {
    top: 68px;
    left: 98px;
  }
  50% {
    top: 94px;
    left: 98px;
  }
  100% {
    top: 68px;
    left: 98px;
  }
}

.lll-cheese {
  height: 73px;
  width: 97px;
  position: absolute;
  top: 159px;
  left: 61px;
  animation: cheese 4s ease-in-out infinite;
  animation-delay: 2s;
}

@media (max-width: 375px) {
  .lll-cheese {
    height: 32px;
    width: 43px;
    top: 69px;
    left: 26px;
    animation: cheese375 4s ease-in-out infinite;
    animation-delay: 2s;
  }
}

@keyframes cheese {
  0% {
    top: 159px;
    left: 61px;
  }

  50% {
    top: 186px;
    left: 61px;
  }
  100% {
    top: 159px;
    left: 61px;
  }
}

@keyframes cheese375 {
  0% {
    top: 69px;
    left: 26px;
  }

  50% {
    top: 96px;
    left: 26px;
  }
  100% {
    top: 69px;
    left: 26px;
  }
}

.lll-tomato {
  height: 63px;
  width: 66px;
  position: absolute;
  top: 282px;
  left: 357px;
  animation: tomato 4s ease-in-out infinite;
}

@media (max-width: 375px) {
  .lll-tomato {
    height: 27px;
    width: 28px;
    top: 123px;
    left: 155px;
    animation: tomato375 4s ease-in-out infinite;
  }
}

@keyframes tomato {
  0% {
    top: 282px;
    left: 357px;
  }

  50% {
    top: 309px;
    left: 357px;
  }
  100% {
    top: 282px;
    left: 357px;
  }
}

@keyframes tomato375 {
  0% {
    top: 123px;
    left: 155px;
  }

  50% {
    top: 150px;
    left: 155px;
  }
  100% {
    top: 123px;
    left: 155px;
  }
}

.lll-bacon {
  height: 59px;
  width: 107px;
  position: absolute;
  top: 461px;
  left: 52px;
  animation: bacon 4s ease-in-out infinite;
  animation-delay: 1s;
}

@media (max-width: 375px) {
  .lll-bacon {
    height: 25px;
    width: 48px;
    top: 202px;
    left: 20px;
    animation: bacon375 4s ease-in-out infinite;
    animation-delay: 1s;
  }
}

@keyframes bacon {
  0% {
    top: 461px;
    left: 52px;
  }

  50% {
    top: 488px;
    left: 52px;
  }
  100% {
    top: 461px;
    left: 52px;
  }
}

@keyframes bacon375 {
  0% {
    top: 202px;
    left: 20px;
  }

  50% {
    top: 229px;
    left: 20px;
  }
  100% {
    top: 202px;
    left: 20px;
  }
}

.lll-eggplant {
  height: 87px;
  width: 76px;
  position: absolute;
  top: 279px;
  left: 151px;
  animation: eggplant 4s ease-in-out infinite;
  animation-delay: 2s;
}

@media (max-width: 375px) {
  .lll-eggplant {
    height: 40px;
    width: 33px;
    top: 120px;
    left: 65px;
    animation: eggplant375 4s ease-in-out infinite;
    animation-delay: 2s;
  }
}

@keyframes eggplant {
  0% {
    top: 279px;
    left: 151px;
  }

  50% {
    top: 306px;
    left: 151px;
  }
  100% {
    top: 279px;
    left: 151px;
  }
}

@keyframes eggplant375 {
  0% {
    top: 120px;
    left: 65px;
  }

  50% {
    top: 147px;
    left: 65px;
  }
  100% {
    top: 120px;
    left: 65px;
  }
}

.lll-scallion {
  height: 82px;
  width: 79px;
  position: absolute;
  top: 301px;
  left: 7px;
  animation: scallion 4s ease-in-out infinite;
  animation-delay: 3s;
}

@media (max-width: 375px) {
  .lll-scallion {
    height: 38px;
    width: 36px;
    top: 130px;
    left: 3px;
    animation: scallion375 4s ease-in-out infinite;
    animation-delay: 3s;
  }
}

@keyframes scallion {
  0% {
    top: 301px;
    left: 7px;
  }

  50% {
    top: 328px;
    left: 7px;
  }
  100% {
    top: 301px;
    left: 7px;
  }
}

@keyframes scallion375 {
  0% {
    top: 130px;
    left: 3px;
  }

  50% {
    top: 157px;
    left: 3px;
  }
  100% {
    top: 130px;
    left: 3px;
  }
}

/* 送出評論 */
.lll-exchange-content-box {
  margin: auto auto;
  background-color: white;
  width: 1244px;
  border-radius: 25px;
  text-align: left;
  line-height: 30px;
  border: 5px #627e2a solid;
  padding: 36px 70px 70px 70px;
}

.lll-title-line-bottom{
  width: 100%;
  height: 5px;
  background-color: #a2a3a5;
  border-radius: 2.5px;
}

.lll-comment-info{
  width: 1094px;
}

.lll-pt45{
  padding-top: 45px;
}

.lll-input-width{
  width: 150px;
}

.lll-comment-msg {
  background-color: white;
  width: 536px;
  height: 150px;
  border-radius: 10px;
  border: 10px #627e2a solid;
}


.lll-comment-msg-width{
  width: 536px;
}