/* 第一版圖片 */
.lll-first-picture-width {
  position: absolute;
  top: 225px;
  width: 478px;
}

.lll-first-picture {
  height: 550px;
  background: url('./../../public/img/lydia/surprisekitcheninit.png');
  background-size: cover;
}

@media (max-width: 992px) {
  .lll-first-picture-width {
    top: 225px;
    width: 239px;
  }
}

@media (max-width: 992px) {
  .lll-first-picture {
    height: 275px;
  }
}

@media (max-width: 576px) {
  .lll-first-picture-width {
    top: 200px;
    width: 239px;
  }
}

@media (max-width: 576px) {
  .lll-first-picture {
    height: 275px;
  }
}

/* 第一版文字 */
.lll-text-position {
  position: absolute;
  top: 0;
  margin-top: 378px;
  text-align: right;
}

@media (max-width: 992px) {
  .lll-text-position {
    margin-top: 280px;
    text-align: right;
  }
}

@media (max-width: 617px) {
  .lll-text-position {
    max-width: 60%;
  }
}

@media (max-width: 576px) {
  .lll-text-position {
    margin-top: 280px;
  }
}

@media (max-width: 576px) {
  .lll-text-position {
    margin-top: 100px;
    text-align: right;
  }
}

@media (max-width: 514px) {
  .lll-text-position {
    max-width: 100%;
  }
}

.lll-firstpage-title {
  color: #434341;
  padding-bottom: 30px;
}

@media (max-width: 992px) {
  .lll-firstpage-title {
    font-size: 36px;
    padding-bottom: 0px;
  }
}

@media (max-width: 576px) {
  .lll-firstpage-title {
    padding-bottom: 0px;
  }
}

.lll-detile-style {
  color: #a2a3a5;
}

@media (max-width: 992px) {
  .lll-detile-style {
    font-size: 12px;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .lll-detile-style {
    margin: 0;
  }
}

.lll-line {
  font-size: 20px;
}

.lll-detile-right {
  text-align: right;
}

.lll-button-distance {
  padding-bottom: 50px;
}

@media (max-width: 576px) {
  .lll-button-distance {
    padding-bottom: 300px;
  }
}

@media (max-width: 576px) {
  .lll-mobile-btn {
    text-align: center;
  }
}

/* 第一版文字RWD */
@media (max-width: 1600px) {
  .lll-text-rwd {
    max-width: 60%;
  }
}

@media (max-width: 1350px) {
  .lll-text-rwd {
    max-width: 80%;
  }
}

@media (max-width: 1150px) {
  .lll-text-rwd {
    max-width: 90%;
  }
}

@media (max-width: 1005px) {
  .lll-text-rwd {
    max-width: 90%;
  }
}

@media (max-width: 950px) {
  .lll-text-rwd {
    max-width: 100%;
  }
}

/* scroll位置, 顏色 */
.lll-scroll {
  position: relative;
  top: 763px;
  text-align: center;
}

.btn-yello {
  background-color: #f3e575;
  width: 80px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  color: white;
  border: 1px solid #f3e575;
  display: inline-block;
}

.btn-yello:hover {
  background-color: #627e2a;
  width: 80px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  color: white;
  border: 1px solid#627E2A;
  display: inline-block;
  transition: 0.2s;
}

/* 預約驚喜廚房 */
.lll-appoint {
  position: relative;
  top: 964px;
}

.lll-title-style {
  color: #627e2a;
  margin: 0;
  padding-bottom: 30px;
}

.lll-detile-text {
  color: #a2a3a5;
}

/* 展開, 隱藏切換按鈕 */
.lll-btn-hidden{
    width: 120px;
    height: 30px;
    background-color: #627e2a;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 15px 15px 0 0;
    border: 1px #627e2a solid;
    display: inline-block;
}

.lll-btn-hidden:hover{
    width: 120px;
    height: 30px;
    background-color: #5b722d;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 15px 15px 0 0;
    border: 1px #5b722d solid;
    display: inline-block;
    transition: 0.2s;
}

.lll-hidden-item{
    background-color:  #627e2a;
    height: 5px;
    width: 100%;
  }

  .lll-btn-hidden-position{
      text-align: right;
  }
