/* 第一版圖片 */
.lll-first-picture-width {
  position: absolute;
  top: 225px;
  width: 478px;
}

@media (max-width: 991px) {
  .lll-first-picture-width {
    top: 225px;
    width: 239px;
  }
}

@media (max-width: 576px) {
  .lll-first-picture-width {
    top: 300px;
    width: 239px;
  }
}

@keyframes test {
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
  
}

.lll-first-picture {
  height: 550px;
  background: url('http://localhost:3015/img/lydia/surprisekitcheninit.png');
  background-size: cover;
  animation: test 6s ease;
}

@media (max-width: 991px) {
  .lll-first-picture {
    height: 275px;
  }
}

/* 第一版文字 */
.lll-text-position {
  margin-top: 180px;
  text-align: right;
}

@media (max-width: 991px) {
  .lll-text-position {
    margin-top: 80px;
    text-align: right;
  }
}

@media (max-width: 576px) {
  .lll-text-position {
    margin-top: 10px;
    text-align: right;
    max-width: 100%;
  }
}

.lll-firstpage-title {
  color: #434341;
  padding-bottom: 30px;
}

@media (max-width: 991px) {
  .lll-firstpage-title {
    font-size: 36px !important;
    padding-bottom: 0px;
  }
}

.lll-detile-style {
  color: #a2a3a5;
}

@media (max-width: 991px) {
  .lll-detile-style {
    font-size: 12px !important;
    margin: 0;
  }
}

.lll-line {
  font-size: 20px;
}

.lll-textalign-right {
  text-align: right;
}

.lll-pb50 {
  padding-bottom: 50px;
}

@media (max-width: 576px) {
  .lll-button-distance {
    padding-bottom: 300px;
  }
}

@media (max-width: 576px) {
  .lll-mobile-btn {
    text-align: center;
    padding-top: 300px;
    max-width: 100%;
  }
}

/* 第一版文字RWD */
@media (max-width: 1700px) {
  .lll-text-rwd {
    max-width: 70% !important;
  }
}

@media (max-width: 1200px) {
  .lll-text-rwd {
    max-width: 100% !important;
  }
}

/* scroll位置, 顏色 */
.lll-scroll {
  margin-top: 200px;
  text-align: center;
}

.btn-yello {
  background-color: #f3e575;
  width: 80px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  color: white;
  border: 1px solid #f3e575;
  display: inline-block;
}

.btn-yello:hover {
  background-color: #627e2a;
  width: 80px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  color: white;
  border: 1px solid#627E2A;
  display: inline-block;
  transition: 0.2s;
}

/* 預約驚喜廚房 */
.lll-appoint {
  margin-top: 300px;
}

.lll-title-style {
  color: #627e2a;
  margin: 0;
  padding-bottom: 30px;
}

@media (max-width: 991px) {
  .lll-title-style {
    font-size: 36px !important;
    padding-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .lll-trans-block {
    display: block !important;
  }
}
/* 這個蓋不過 */

@media (max-width: 991px) {
  .lll-trans-block > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 0;
  }
}

/* 展開, 隱藏切換按鈕 */
.lll-btn-hidden {
  width: 120px;
  height: 30px;
  background-color: #627e2a;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 15px 15px 0 0;
  border: 1px #627e2a solid;
  display: inline-block;
}

/* .lll-btn-hidden:hover {
  width: 120px;
  height: 30px;
  background-color: #5b722d;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 15px 15px 0 0;
  border: 1px #5b722d solid;
  display: inline-block;
  transition: 0.2s;
} */

.lll-hidden-line {
  background-color: #627e2a;
  height: 5px;
  width: 100%;
}

.lll-textalign-right {
  text-align: right;
}

/* 預約驚喜廚房選單 */
@media (max-width: 991px) {
  .lll-appoint-w100 {
    max-width: 100% !important;
  }
}

.lll-allheight {
  height: 680px;
}

@media (max-width: 1700px) {
  .lll-allheight {
    height: 1270px;
  }
}

.lll-selected-position {
  padding-top: 20px;
  padding-bottom: 60px;
}

.lll-black {
  color: #434341;
}

.lll-calendar {
  width: 320px;
  height: 400px;
  background: #fff;
  padding-top: 30px;
}

.lll-pt30 {
  padding-top: 30px;
}

.lll-body-list {
  width: 100%;
}

.lll-cursor{
  cursor: pointer;
}

.lll-body-list li {
  width: 14.28%;
  height: 50px;
  line-height: 50px;
  list-style-type: none;
  display: block;
  box-sizing: border-box;
  float: left;
  text-align: center;
}

.lll-body-list-item {
  width: 14.28%;
  height: 50px;
  line-height: 50px;
  list-style-type: none;
  display: block;
  box-sizing: border-box;
  float: left;
  text-align: center;
  cursor: pointer;
}

/* 日期選項顏色 */
.lll-grey {
  color: #a2a3a5; /* 尚未開放, 過去的時間*/
}
.lll-green {
  color: #627e2a; /*尚有名額, 此月開放的日期*/
}

.lll-green-active {
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  background-color: #627e2a;
  color: #ffffff;
}

.lll-red {
  color: #b9433b; /*已額滿*/
}

/* 標示名額顏色 */
.lll-option-position {
  display: inline-block;
  position: relative;
  left: 370px;
  top: -110px;
}

@media (max-width: 768px) {
  .lll-option-position {
    left: 0px;
    top: 30px;
  }
}

.lll-li-grey {
  background: url('http://localhost:3015/img/lydia/SVG/grey.svg') no-repeat;
  background-size: 16px;
  line-height: 16px;
  padding-left: 28px;
  margin-bottom: 20px;
}

.lll-li-green {
  background: url('http://localhost:3015/img/lydia/SVG/green.svg') no-repeat;
  background-size: 16px;
  line-height: 16px;
  padding-left: 28px;
  margin-bottom: 20px;
}

.lll-li-red {
  background: url('http://localhost:3015/img/lydia/SVG/red.svg') no-repeat;
  background-size: 16px;
  line-height: 16px;
  padding-left: 28px;
}

/* 請選擇場次 */
.lll-times-position {
  margin-top: px;
}
/* 這個很怪???? */

@media (max-width: 768px) {
  .lll-times-position {
    margin-top: 100px;
  }
}

.lll-select-btn-white {
  background-color: white;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  line-height: 35px;
  color: #627e2a;
  border: 1px #627e2a solid;
  display: inline-block;
}

.lll-select-btn-white:hover {
  background-color: #627e2a;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  border: 1px #627e2a solid;
  display: inline-block;
  transition: 0.2s;
}

.lll-select-btn-white:active {
  background-color: #627e2a;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  border: 1px #627e2a solid;
  display: inline-block;
}

/* 已額滿的選項 */
.lll-select-btn-tryover {
  background-color: #ffffff;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  line-height: 35px;
  color: #b9433b;
  border: 1px #b9433b solid;
  display: inline-block;
}

.lll-select-btn-tryover:hover {
  background-color: #ffffff;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  line-height: 35px;
  color: #b9433b;
  border: 1px #b9433b solid;
  display: inline-block;
}

.lll-txt-btndel {
  font-family: GenSenRounded TW;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.24px;
  text-decoration: line-through;
}

.lll-txt-btndel:hover {
  font-family: GenSenRounded TW;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.24px;
  text-decoration: line-through;
}

.lll-pr30 {
  padding-right: 30px;
}

.lll-pr20 {
  padding-right: 20px;
}

.lll-ml-position {
  width: 397px;
}

@media (max-width: 768px) {
  .lll-ml-position {
    width: 345px !important;
    margin-top: 818px !important;
  }
}

@media (max-width: 1700px) {
  .lll-ml-position {
    display: inline-block;
    position: relative;
    margin-top: 730px;
    left: -320px;
  }
}

.lll-pb30 {
  padding-bottom: 30px;
}

.lll-pb20 {
  padding-bottom: 20px;
}

.lll-msg {
  background-color: white;
  width: 100%;
  height: 90px;
  border-radius: 10px;
  border: 3px #627e2a solid;
}

.lll-mb30 {
  margin-bottom: 30px;
}

/* 讓字跟24px垂直置中 */
.lll-center {
  padding-top: 10px;
}

.lll-price-line {
  padding-top: 50px;
  border-top: 3px solid #a2a3a5;
}

.lll-mt40 {
  margin-top: 40px;
}

/* 驚喜廚房規則說明 */
.lll-explain {
  background-color: #f3e575;
  height: 170px;
  margin-top: 50px;
  border-radius: 25px;
}

@media (max-width: 1700px) {
  .lll-explain {
    height: 250px;
  }
}

@media (max-width: 991px) {
  .lll-explain {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .lll-explain > .txt-sub1 {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
}

/* 預約規則說明 */
.lll-title-line {
  padding-top: 50px;
  border-top: 5px solid #a2a3a5;
}

.lll-mt110 {
  margin-top: 110px;
}

.lll-pb45 {
  padding-bottom: 45px;
}

@media (max-width: 991px) {
  .lll-12px {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
}

/* 地理位置 */
.lll-mobile-block{
  display: flex;
}

@media (max-width: 1700px) {
  .lll-mobile-block {
    display: block !important;
  }
}

.lll-max100{
  height: 400px;
  width: 100%;
}

@media (max-width: 1700px) {
  .lll-max100 {
    max-width: 100% !important;
  }
}

.lll-max100-center{
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 1700px) {
  .lll-max100-center{
    max-width: 100% !important;
    justify-content: center !important;
    margin-top: 50px !important;
  }
}

.lll-pt50{
  padding-top: 50px;
}



/* 顧客評論 */
.lll-section {
  width: 100%;
  height: 425px;
  background-color: #ffffff;
  padding: 30px 0 30px 0;
  overflow: auto;
}

.lll-lineheigh {
  line-height: 28px;
}

@media (max-width: 991px) {
  .lll-title-line > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 0;
  }
}

@media (max-width: 1700px) {
  .lll-change-max100 {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .lll-change-max100 > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
}
