@media (min-width: 1700px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1640px;
  }
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bt {
  padding-top: 12px;
  border-bottom: 3px solid #627e2a;
}
.bob {
  padding-top: 12px;
  border-top: 3px solid #627e2a;
}
.aa {
  border: 3px solid #627e2a;
  border-radius: 25px;

  height: 665px;
  padding-top: 65px;
}
.dd {
  border: 3px solid #627e2a;
  border-radius: 25px;
}
.bb {
  margin-left: 30px;
  margin-bottom: 20px;
}
.cc {
  border: 3px solid #627e2a;
  border-radius: 25px;

  padding-top: 65px;
}
.ee {
  color: #627e2a;
}
.box {
  width: 125px;
  height: 125px;
  padding: 0;
}
.box1 {
  width: 65px;
  height: 65px;
  padding: 0;
}
.box2 {
  width: 150px;
}
.box3 {
  width: 260px;
  height: 865px;
}
.box4 {
  width: 1090px;
  height: 565px;
}
.box5 {
  border-radius: 50px;
  width: 60px;
  height: 20px;
  text-align: center;
  border: 2px;
}
.box6 {
  background-color: #627e2a;
  color: white;
  border-radius: 50px;
  width: 60px;
  height: 30px;
  text-align: center;
  border: 2px;
  font-family: GenSenRounded TW;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.2px;
  text-decoration: none !important;
}
.item {
  color: #434341;
  padding-bottom: 30px;
}
.item1 {
  color: #434341;
  padding-bottom: 12px;
}

.item2 {
  color: #a3a4a5;
  padding-bottom: 12px;
}

.text1 {
  color: xd;
  text-align: center;
}
.tex2 {
  color: #434341;
}
.text3 {
  color: #a3a4a5;
}

.item3 {
  width: 260px;
  height: 260px;
  background-color: #434341;
  border-radius: 25px;
}
.btn-green2 {
  background-color: #627e2a;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  color: white;
  border: 1px #627e2a solid;
  display: inline-block;
}
.btn-green3 {
  background-color: #627e2a;
  width: 60px;
  height: 30px;
  border-radius: 25px;
  text-align: center;
  line-height: 30px;
  color: white;
  border: 1px #627e2a solid;
  display: inline-block;
}

.poe-bookmark-label {
  background-color: #5a7e0c;
  border-radius: 15px 15px 0 0;
  margin: 0 1px;
  display: inline-block;
}
.poe-bookmark-label1 {
  width: 150px;
  height: 25px;
  background-color: #5a7e0c;

  border-radius: 15px 15px 0 0;
}
.poe-bookmark-label2 {
  width: 150px;
  height: 30px;
  border-radius: 15px 15px 0 0;
}

.line1 {
  border-bottom: #5a7e0c solid 3px;
  width: 100%;
}

.txt-cap1 {
  font-family: GenSenRounded TW;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none !important;
  color: #a3a4a5;
}
.btn-green1 {
  background-color: #627e2a;
  width: 80px;
  height: 40px;
  border-radius: 25px;
  text-align: center;
  line-height: 40px;
  color: white;
  border: 1px #627e2a solid;
  display: inline-block;
}
.table thead th {
  border: none;
}
.table tbody td {
  border: none;
}

.btn-green2 {
  background-color: #627e2a;
  width: 160px;
  height: 30px;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
  line-height: 30px;
  color: white;
  border: 1px #627e2a solid;
  display: inline-block;
}
.br {
  border-radius: 10px;
}
.select-btn-white1 {
  background-color: white;

  height: 40px;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  color: #627e2a;
  border: 1px #627e2a solid;
  display: inline-block;
}
