.poe-cart-progress .col-3 {
  padding: 0;
  color: #5a7e0c;
  margin: 0 5px;
}

.poe-cart-progress-line {
  background-color: #b0be94;
  border-radius: 2.5px;
  height: 5px;
}

.poe-cart-progress-active {
  height: 10px;
  background-color: #5a7e0c;
  border-radius: 5px;
  margin: 0 5px;
}

.poe-bookmark-label {
  opacity: 50%;
  background-color: #5a7e0c;
  height: 30px;
  line-height: 30px;
  border-radius: 15px 15px 0 0;
  border: none;
  margin: 0 1px;
  text-align: center;
  color: #fff;
  display: inline-block;
}
.poe-bookmark-label:hover {
  color: #a2a3a5;
}

.poe-bookmark-label:focus {
  border: none;
  outline: none;
}

.poe-bookmark-label-active {
  opacity: 100%;
}

.poe-bookmark-content {
  border: 3px solid #5a7e0c;
  padding: 65px;
  font-family: GenSenRounded TW;
  text-decoration: none;
}

.poe-bookmark-content > h5 {
  margin-bottom: 20px;
}

.poe-bookmark-content thead {
  border-bottom: 2px solid #5a7e0c;
}

.poe-bookmark-content td {
  color: #5a7e0c;
}

/* .poe-bookmark-content .txt-cap {
  color: #b9433b;
} */

.poe-red {
  color: #b9433b !important;
}

.poe-bookmark-content-choice,
.poe-bookmark-content-result {
  padding: 20px 0 20px 0;
}

.poe-bookmark-content-choice .fas {
  color: #5a7e0c;
}

.poe-bookmark-content-choice {
  border-top: 2px solid #5a7e0c;
  border-bottom: 2px solid #5a7e0c;
}
.poe-bookmark-content-result {
  margin-bottom: 30px;
}
.poe-bookmark-content-m {
  width: 50px;
  margin-right: 15px;
  text-align: right;
}
