.img-size {
  width: 100%;
  border-radius: 25px;

}
/* 顏色 */
.col-green {
  color: #627e2a;
}
.col-gray {
  color: #a2a3a5;
}
.col-red {
  color: #b9433b;
}
.col-black {
  color: #434341;
}

body {
  font-family: myfont !important;
}
.xxx-rc-p1 {
  width: 639px;
  margin-bottom: 50px;
  padding: 0px;
}
.xxx-rc-p2 {
  margin-bottom: 50px;
}
.xxx-re-topicon {
  margin-left: 20px;
}
.xxx-rc-circle {
  width: 45px;
  height: 45px;
  background-color: #b9433b;
  color: #ffffff;
  border-radius: 45px;
  font-size: 30px;
}

.xxx-img-div {
  width: 450px;
  height: 300px;
}
.xxx-rc-step {
  margin-bottom: 30px;
}
.xxx-rc-line {
  border-bottom: 1px solid #a2a3a5;
}
.xxx-rc-pstep {
  padding: 0px;
}
.xxx-rc-bt {
  background-color: #fff;
  border-color: transparent;
  margin-right: 10px;
}
.xxx-rc-dmugshot {
  height: 73px;
  width: 73px;
  border-radius: 45px;
  background-color: rgb(236, 53, 53);
  overflow: hidden;
}
.xxx-rc-name {
  margin-right: 20px;
}
.xxx-rc-comment {
  margin: 5px;
}
.xxx-ul {
  list-style-type: none;
}
.xxx-rc-icon {
  font-size: 30px;
}
.xxx-rc-textarea {
  margin-left: 150px;
  margin-bottom: 100px;
}
