/* 網頁版 */
@media (min-width: 900px) {
  .xxx-m85 {
    margin-top: 15px;
  }
}
/* 手機板 */
@media (max-width: 572px) {
  .xxx-m0 {
    margin: 0px;
  }
  .card{
    padding: 0px;
  }
  .xxx-296x197{
    margin-top: 8.5px;
  }
  .xxx-sr-input{
    margin-bottom: 20px;
  }
  .xxx-mb-10{
    margin-bottom: 10px;
  }
  .xxx-m0p0{
    margin: 0px;
    padding: 15px;
  }
}
.img-size {
  width: 100%;
}
/* 顏色 */
.col-green {
  color: #627e2a;
}
.col-gray {
  color: #a2a3a5;
}
.col-red {
  color: #b9433b;
}
.col-black {
  color: #434341;
}
.xxx-315x239{
  width: 315px;
  height: 239px;
}
.xxx-br25{
  border-radius: 25px;
}
.xxx-296x197{
  width: 296px;
  height: 197px;
}
.xxx-img{
  width: 100%;
  height: 100%;
}

.xxx-imgdiv{
  width: 315px;
  height: 153px;
}

.xxx-sr-card{
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);

}
.xxx-sr-dibm{
    width: 315px;
    height: 239px;
  
}
.xxx-sr-btsearch{
  border:transparent;
color: #627e2a;
background-color: #fff;
}
.xxx-sr-foodsearch{
    background-color: #fff;
    border:transparent;
    
}


