.code-box-shape{
    width: 200px;
    height: 200px;
    /* background-color: rgb(241, 79, 79); */
   background-image: url("http://localhost:3015/img/lemon/lemonBasket.png");
   background-size: contain;
background-repeat: no-repeat;
    
}