/* 全站共同使用的樣式 */
body {
  margin: 0;
  padding: 0;
  font-family: GenSenRounded TW;
}

// 預設變數覆蓋需要在導入Bootstrap之前
$primary: #434341;
$secondary: #a2a3a5;

// Import Bootstrap and its default variables
// @import '~bootstrap/scss/bootstrap.scss';

// 因為新增響應式斷點, 引用bootstrap的來源有修改
@import './src/styles/bootstrap/scss/bootstrap.scss';

@import '/src/styles/fontawesome/css/all.css';
@import '/src/styles/public.css';
@import '/src/styles/header.css';
// @import '/src/styles/cha.css';
// @import '/src/styles/fff.css';
// @import '/src/styles/lydia.css';
@import '/src/styles/poe.css';
// @import '/src/styles/index.css';

// @import './styles/public.css';
// @import './styles/header.css';
// @import './styles/cha.css';
// @import './styles/fff.css';
// @import './styles/lydia.css';
// @import './styles/poe.css';
// @import './styles/index.css';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

// main > .container {
//   padding: 60px 15px 0;
// }

// .footer {
//   background-color: #ecc0c0;
// }
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1640px,
// ) !default;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1700px,
// ) !default;
